@import "elements.less";

/* ============================== */
/* ! Color scheme                 */
/* ============================== */

@light_base: #47c0df;
@regular_base: #31aad2;
@dark_base: #036080;
@highlight: #ff5700;


/* ============================== */
/* ! Misc handy classes           */
/* ============================== */

.highlight { color: @highlight; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.breaker { clear: both; }


/* ============================== */
/* ! Global rules                 */
/* ============================== */

a {
    text-decoration: underline;
    color: saturate(@regular_base, 10%);

    &:visited {
        color: darken(desaturate(@regular_base, 20%), 20%);
    }

    &:hover {
        text-decoration: none;
    }
}

address { font-style: normal; }

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    font: 16px/1.3 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
    background: url('../img/main_bg.png') repeat;

    header {
        height: 150px;
        color: white;
        background-image: url('../img/header_bg.png');
        border-bottom: 2px @highlight solid;

        .twelvecol {
            position: relative;

            h1 {
                font-size: 42px;
                margin: 0;
                position: absolute;
                left: -50px;
                top: 0;
            }

            span {
                position: absolute;
                top: 70px;
                left: 310px;
                text-shadow: 0px 1px 0px #0f607b;
            }

            #abstract {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    #main {
        color: #555;
        padding-top: 20px; 
        
        ul, ol, p { margin: 0.5em 0 0.9em; }

        h2 {
            color: @regular_base;
            font-size: 26px;
            margin: 0.4em 0 0.2em;
            text-shadow: 0px 1px 0px #fff;
        }

        h3 {
            font-size: 17px;
            font-style: italic;
            margin: 0.7em 0 0.5em;
        }

        li { margin: 5px 0 0 20px; }

        #illustration {
            img {
                margin-top: 3.2em;
                border-radius: 5px;
            }
        }

        #related_publications {
            ol { 
                li {
                    font-size: 0.9em;
                    margin-left: 25px;
                }
            }
        }
    }

    footer {
        padding: 23px 20px 15px;
        background: #0f6780;
        background-image: url('../img/header_bg.png');
        color: #dbe9ed;
        box-shadow: inset 0px 1px 0px darken(@highlight, 20%);
        border-top: 2px @highlight solid;

        .row {
            margin-bottom: 0;
            padding-top: 2px;
            position: relative;

            #footer_abstract {
                position: absolute;
                right: 45%;
                top: 5px;
            }

            address {
                float: right;
            }
        }
    }
}

	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
	body {
        line-height: 1.2;

        header {
            .twelvecol { 
                #abstract {
                    display: none;
                }

                h1 {
                    padding-left: 30px;
                    img {
                        width: 300px;
                    }
                }

                span {
                    top: 110px;
                    left: 30px;
                    font-size: 15px;
                }
            }
        }

        footer {
            .row {
                #footer_abstract {
                    display: none;
                }

                address { 
                    float: none;
                    padding-left: 2px;
                }
            }
        }
	}
}

