@import "elements.less";

/* ============================== */
/* ! Misc handy classes           */
/* ============================== */

.highlight { color: #ff5700; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.breaker { clear: both; }

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    font: 16px/1.3 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
    background: url('../img/main_bg.png') repeat;

    a {
        text-decoration: none;
        color: #0645AD;

        &:visited {
            color: #423a8e;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    header {
        height: 150px;
        color: white;
        .box-shadow(1px 0 2px #999);
        background-image: url('../img/header_bg.png');
        border-bottom: 1px #0a5871 solid;

        .twelvecol {
            position: absolute;

            h1 {
                font-size: 42px;
                margin: 0;
                position: relative;
                left: -50px;
                top: 0;
            }

            span {
                position: absolute;
                top: 70px;
                left: 310px;
                text-shadow: 0px 1px 0px #187596;
            }
        }
    }

    #main {
        margin-top: 20px; 
        
        p { margin: 0.5em 0 0.9em; }

        h2 {
            color: #31aad2;
            font-size: 26px;
            margin: 0.4em 0 0.2em;
            text-shadow: 0px 1px 0px #fff;
        }

        h3 {
            font-size: 17px;
            font-style: italic;
            margin: 0.6em 0 0.4em;
        }

        li { margin-left: 20px; }

        #illustration {
            img {
                margin-top: 1.2em;
            }
        }

        #related_publications {
            ol { 
                li {
                    font-size: 0.8em;
                    margin-left: 25px;
                }
            }
        }
    }

    footer {
        background: #0f6780;
    }
}

	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
	body {
        font-size: 16px;
        line-height: 1.2;
	}
}

/* ============================= */
/* ! Smaller screens             */
/* ============================= */

@media only screen and (max-width: 900px) {

	body {
        font-size: 14px;
        line-height: 1.25;
	}
	
}

